a  {
    font-family: 'Mukta', sans-serif;
}
p{
    font-family: 'Mukta', sans-serif;
    color: #9B9594;
}
strong{
    font-family: 'Niconne', cursive;
}
a .navbar-brand {
    font-family: 'Niconne', cursive;
}
#cel{
    color:  #9B9594;
    font-family: 'Mukta', sans-serif;
}
#pm{
    font-family: 'Niconne', cursive;
}
#celeste {
color: #84EEDB,
}

row contactame{
    color:  #84EEDB;
}


